/* styles.css */

body, html {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  /* flex: 1; */

  /* flex-direction: column; */
  /* width: 100%; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  --ui-color-icons: rgb(81, 76, 76);
  --ui-color-icons-hover: rgb(136, 136, 136);
  --ui-color-icons-dark: white;
  --ui-color-icons-hover-dark: rgb(245, 245, 245);
  --ui-color-border: rgb(82, 76, 76);
  --legacy-color: rgb(255, 164, 164);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body {
  background-color: rgb(255, 255, 255);
}

.sidebar {
  width: 300px;
  /* display: flex;
  align-items: start;
  flex-direction: column; */
  padding: 25px;
  padding-right: 12px;
  border-right: 2px solid var(--ui-color-border);
  position: relative;
  left: 0px;
}

.sidebar-icons {
  display: flex;
  align-self: flex-end;
}

.sidebar-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-title {
  font-size:x-large;
}

.sidebar-projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.sidebar-projects div, .sidebar-projects input{
  padding: 5px 10px;
  border-radius: 7px;
  transition: 250ms;
  font-size:medium;
}

container {
  display: flex;
  flex-direction: column;
  gap: 7px; 
  width: 100%;
  position: sticky;
  top: 25px;
}

.sidebar-projects div:hover {
  background-color: var(--legacy-color);
  transition: 250ms;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 60px;
  align-items: center;
  height: 100%;
}

main > * {
  width: 100%;
  max-width: 600px;
}

/* notes */

.note-container {
  display: flex;
  border-bottom: 1px solid var(--ui-color-border);
  min-height: 70px;
}

.note-information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
}

.name, .sub, .description {
  padding-left: 10px;
}

.name {
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 1.2rem;
  word-break: break-all;
}
.sub {
  padding-top: 5px;
  padding-bottom: 10px;
  flex-grow: 1;
  display: flex;
  gap: 6px;
}
.description {
  padding-bottom: 3px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.616);
}

input[type="checkbox"] {
  align-self: center;
  height: 27px;
  width: 27px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--ui-color-border);
  background-position: center;
}

input[type="checkbox"]:hover {
  background-image: url(images/check.svg);
  --icon-size: 16px;
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  transition: 1000ms;
}

input[type="checkbox"]:checked {
    border: none;
}   

.note-container:has(input[type="checkbox"]:checked) {
    transition: 300ms;
    background-color: var(--legacy-color);
    background-image: url(images/check-circle.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-color: rgba(165, 118, 118, 0.507);
    div, input[type="checkbox"] {
      z-index: -1;
    }
}

.duedate, .priority {
  border-radius: 9px;
  /* padding: 1px 5px; */
  color: rgb(39, 39, 39);
}

.duedate {
  /* background-color: rgb(74, 161, 63); */
}

.priority {
  background-color: rgb(184, 83, 83);
}

.project-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 50px;
  word-break: break-all;
}

.menu {
  display: flex;
  gap: 7px;
  position: relative;
  bottom: 0px;
  right: 50px;
  width: 100px;
  transition: 100ms;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  color: transparent;
  visibility: hidden;
  z-index: 1;
}

.menu div:hover {
  filter: brightness(75%);
  cursor: pointer;
}

.right-side-note:has(.edit:hover) {
  .menu{
    visibility: visible;
    background-color: rgb(40, 42, 44);
    color: rgb(248, 248, 248);
  }
}

.menu:hover{
  visibility: visible;
  background-color: rgb(40, 42, 44);
  color: rgb(248, 248, 248);
}

/* images */

.send {
  mask-image: url(images/send.svg);
  mask-position: center;
}

.add {
  mask-image: url(images/create-project.svg);
}

.sidebar-close {
  mask-image: url(images/sidebar-close.svg);
}

.create-note {
  mask-image: url(images/add-note.svg);
}

.add, .sidebar-close, .edit, .create-note, .send {
  --icon-size: 23px;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-size: contain;
  mask-repeat: no-repeat;
  transition: 150ms;
}

.add, .sidebar-close, .edit, .create-note {
    background-color: var(--ui-color-icons);
}

.send {
    background-color: var(--ui-color-icons-dark);
}

.add:hover, .sidebar-close:hover, .edit:hover, .send:hover {
  transition: 150ms;
  background-color: var(--ui-color-icons-hover);
  cursor: pointer;
}

.send:hover {
  transition: 150ms;
  background-color: var(--ui-color-icons-hover-dark);
  cursor: pointer;
}

.right-side-note {
  width: 23px;
  height: 23px;
  align-self: center;
}

.edit {
  mask-image: url(images/edit.svg);
}

/* create note input */

.create-note-flex {
  transition: 100ms;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  margin-top: 2px;
  padding: 15px 24px;
  gap: 1px;
  /* height: 130px; */
  outline: 1px solid var(--ui-color-border);
  border-radius: 8px;
  background-color: transparent;
}

.send-btn, .close {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0px;
  border: none;
}

.send-btn {
  background-color: var(--legacy-color);
  width: 35px;
}

.close{
  background-color: rgb(63, 63, 63);
  width: 65px;
  color: white;
  font-size: 13px;
  font-weight: 900;
}

.add-task-btn {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
  transition: 100ms;
}

.add-task-btn div:nth-child(1) {
  font-size: 30px;
}

.add-task-btn:hover {
  transition: 100ms;
  color: var(--legacy-color);
}

.btn-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  width: 100%;
}



/* general text input */

form {
  margin-top: 10px !important;
}

main input {
  border: none;
  background-color: transparent;
}

main input:focus {
  outline: none;
}

form input:nth-child(1) {
  font-size: 17px;
  font-weight: 600;
}

form input:nth-child(2) {
  font-size: 15px;
}

form input:nth-child(3) {
  margin-top: 7px;
}

form button {
  align-self: flex-end;
  transition: 250ms;
}

form button:hover {
  transition: 250ms;
  filter: brightness(80%)
}

form:has(input:focus){
  transition: 100ms;
  outline: 1px solid rgb(194, 194, 194);
}

